{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Моя полка
{% endblock %}

{% block content %}
<h2>Каталог товаров</h2>
<div class="category-links">
    {% for category in categories %}
        <a href="{% url 'catalogue_by_category' category.id %}" 
           class="category-link {% if current_category == category.id %}active{% endif %}">
            {{ category.name }}
        </a>
    {% endfor %}
</div>
<div class="item-list">
    {% for item in items %}
        {% include 'items/card.html' %}
    {% endfor %}
</div>
{% endblock%}