{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Моя полка
{% endblock %}

{% block content %}
    <h2>Поиск товаров</h2>
    <div class="main-container">
        <!-- Левая колонка для поиска -->
        <div class="sidebar">
            <div class="filter-section">
                <h3>Категория</h3>
                <div class="filter-links">
                    <a href="#" class="filter-link">То</a>
                    <a href="#" class="filter-link">И это</a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Состояние</h3>
                <div class="filter-links">
                    <a href="#" class="filter-link">Ля</a>
                    <a href="#" class="filter-link">ля</a>
                    <a href="#" class="filter-link">ля</a>
                </div>
            </div>

            <div class="filter-section">
                <h3>Владелец</h3>
                <div class="filter-links">
                    <a href="#" class="filter-link">То-</a>
                    <a href="#" class="filter-link">по</a>
                    <a href="#" class="filter-link">ля</a>
                </div>
            </div>
        </div>
        
        <div class="item-list content-area">
            {% for item in items %}
            {% include 'items/card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock%}