{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Поиск товаров
{% endblock %}

{% block content %}
    <h2>Поиск товаров</h2>
    <div class="main-container">
        <!-- Левая колонка для поиска -->
        <div class="sidebar">
            <div class="filter-section">
                <h3>Категория</h3>
                <div class="filter-links">
                    {% for category in categories %}
                        <a href="{{ current_url }}&category={{ category.id }}" 
                        class="filter-link {% if category.id|stringformat:'s' in filters.category %}active{% endif %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="filter-section">
                <h3>Состояние</h3>
                <div class="filter-links">
                    {% for value, condition in conditions %}
                        <a href="{{ current_url }}&condition={{ value }}" 
                        class="filter-link {% if value|stringformat:'s' in filters.condition %}active{% endif %}">
                            {{ condition }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="filter-section">
                <h3>Владелец</h3>
                <div class="filter-links">
                    {% for user in users %}
                        <a href="{{ current_url }}&user={{ user.id }}"
                        class="filter-link {% if user.id|stringformat:'s' in filters.user %}active{% endif %}">
                            {{ user }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="content-area">
            {% if not items %}
                <h1>По вашему запросу ничего не найдено<br>
                Попробуйте ещё раз</h1>
            {% endif %}
            <div class="item-list">
                {% for item in items %}
                {% include 'items/card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock%}