{% load static %}
<footer class="footer">
    <a href="https://www.effective-mobile.ru/" class="footer-brand">
        EffectiveMobile
    </a>
    
    <div class="footer-social">
        <a href="https://github.com/gedfalk/effectiveMobile">
            <img src="{% static 'icons/github.svg' %}" class="icon-f" alt="github">
        </a>
        <a href="https://drive.google.com/file/d/1kO3QQkfc3W2tq8q83WfoCYm3WGDk1x4Y/view?usp=drive_link">
            <img src="{% static 'icons/hh.svg' %}" class="icon-f" alt="hh">
        </a>
        <a href="https://t.me/gedfalkit">
            <img src="{% static 'icons/telegram.svg' %}" class="icon-f" alt="telegram">
        </a>
    </div>

    <div class="footer-ascii">¯¯\_(ツ)_/¯¯</div>
</footer>