{% load static %}
<footer class="footer">
    <a href="{% url 'index' %}" class="footer-brand">
        EffectiveMobile
    </a>
    
    <div class="footer-social">
        <a href="#">
            <img src="{% static 'icons/github.svg' %}" class="icon-f" alt="github">
        </a>
        <a href="#">
            <img src="{% static 'icons/hh.svg' %}" class="icon-f" alt="hh">
        </a>
        <a href="#">
            <img src="{% static 'icons/telegram.svg' %}" class="icon-f" alt="telegram">
        </a>
    </div>

    <div class="footer-ascii">¯¯\_(ツ)_/¯¯</div>
</footer>