{% load static %}
<nav class="header">
    <a href="{% url 'catalogue' %}" class="icon-btn-hor">
        <img src="{% static 'icons/catalogue.svg' %}" class="icon-h" alt="Каталог">
        Каталог
    </a>
    
    <div class="header-search">
        <form action="#" method="get">
            <input type="text" name="query">
        </form>
    </div>

    {% if request.user.is_authenticated %}
        <a href="#" class="icon-btn-vert">
            <img src="{% static 'icons/library.svg' %}" class="icon-h" alt="Полка">
            Полка
        </a>
        <a href="#" class="icon-btn-vert">
            <img src="{% static 'icons/scales.svg' %}" class="icon-h" alt="Обмен">
            Обмен
        </a>
        <a href="{% url 'user_selection' %}" class="icon-btn-hor">
            <img src="{% static 'icons/user.svg' %}" class="icon-h" alt="Пользователь">
            {{ request.user.username }}
        </a>
    {% else %}
        <a href="{% url 'user_selection' %}" class="icon-btn-hor">
            <img src="{% static 'icons/user.svg' %}" class="icon-h" alt="Пользователь">
            Войти
        </a>
    {% endif %}
</nav>