{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Домашняя страница
{% endblock %}

{% block content %}
<div class="item-list">
    {%if request.user.is_authenticated %}
        <a href="{% url 'add_item' %}" class="card-link">
            <div class="item-card add-item-plus">
                <span>+</span>
                <span class="add-item-text">Добавить товар</span>
            </div>
        </a>
    {% endif %}
    {% for item in items %}
        {% include 'items/card.html' %}
    {% endfor %}
</div>
{% endblock%}