.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #d0d5ff;
  border-bottom: 2px solid #8a9bff;
  gap: 1.5rem;
}

.icon-btn-hor {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 10px;
}

.icon-btn-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.icon-h {
  width: 28px;
}

.icon-btn-vert:hover .icon-h {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.icon-btn-hor:hover .icon-h {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.header-search {
  flex: 1;
  padding: 0 2rem;
}

.header-search input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
}
